body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../images/currency.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-div {
  display: flex;
  background-color: rgb(205, 163, 87);
  width: 500px;
  height: 250px;
  border: 1px solid black;
  margin-top: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
}
.amount {
  width: 80px;
  height: 25px;
  margin-right: 10px;
}
.result {
  width: 80px;
  height: 25px;
}
.from-currency-option {
  width: 70px;
  height: 30px;
  margin-right: 10px;
}
.to-currency-option {
  width: 70px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.button{

    background-color: rgb(76, 72, 72);
    color: wheat;    padding: 10px;
    border-radius: 34px;
    font-weight: 500;
    transition: all ease 0.4s;
}
.button:hover{
    background-color: rgb(13, 50, 10);
    color: rgb(255, 255, 255);
}